nav {
    background: #3f5767 url(/assets/img/bg.png);
}

.navbar-brand {
    margin-right: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: #ffffff;
}

.dropdown-menu, .dropdown-item{
    background-color: #3f5767;
    color: rgba(255,255,255,0.75);
}

.dropdown-item:hover, .dropdown-item:active{
    background-color: rgba(255,255,255,0.25);
}

.dropdown-menu .dropdown-item:hover {
    color: #ffffff;
}

/* Collapsible content stacked */
@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

.navbar-brand > img {
    height: 32px;
}

a.nav-link {
    cursor: pointer;
}
