nav {
    background: #297373 url(/assets/bg.png);
}

.navbar-brand {
    margin-right: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: #ffffff;
}

.dropdown-menu, .dropdown-item{
    background-color: #297373;
    color: rgba(255,255,255,0.75);
}

.dropdown-item:hover, .dropdown-item:active{
    background-color: rgba(255,255,255,0.25);
}

.dropdown-menu .dropdown-item:hover {
    color: #ffffff;
}

/* Collapsible content stacked */
@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

.btn-round {
    border-radius: 24px;
}

.btn-danger {
    background-color: #b94947;
    border-color: #b94947;
    color: #dad9d4;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #953a38;
    border-color: #953a38;
    color: #dad9d4;
}
